<launch>
    <node name="vins_estimator" pkg="vins" type="vins_node"
        args="/home/seungwon/catkin/src/external_programs/VINS-Fusion-SC/config/realsense_d455/realsense_stereo_imu_config.yaml">
    </node>

    <node name="loop_fusion" pkg="loop_fusion_sc" type="loop_fusion_node" output="screen"
        args="/home/seungwon/catkin/src/external_programs/VINS-Fusion-SC/config/realsense_d455/realsense_stereo_imu_config.yaml">
    </node>


</launch>
